# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

# Django-related
media/
staticfiles/
*.log

# Pytest / Coverage
htmlcov/
.coverage
*.cover
*.py,cover

# IDE / Editor
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db
