arandr==0.1.11
asgiref==3.8.1
attrs==23.2.1.dev0
autocommand==2.2.2
btrfsutil==6.13
certifi==2025.1.31
cffi==1.17.1
cryptography==44.0.2
distro-info==1.10
Django==5.1.7
filelock==3.18.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lensfun==0.3.4
libfdt==1.7.2
lit==19.1.7.dev0
meson==1.7.0
more-itertools==10.6.0
packaging==24.2
platformdirs==4.3.6
psutil==7.0.0
pycairo==1.27.0
pycparser==2.22
pygdbmi==0.11.0.0
Pygments==2.19.1
PyGObject==3.52.3
pytz==2025.1
sentry-sdk==2.25.0
setuptools==75.8.0
smbus==1.1
sqlparse==0.5.1
TBB==0.2
tqdm==4.67.1
urllib3==2.3.0
wheel==0.45.1
